.wrapper {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    object-fit: contain;
}

.logo-title {
    font-size: 1.4rem;
    margin-left: 16px;
}